<div class="seller-auth">
    <div *ngIf="!showLogin" class="sign-up">
        <h1>Seller signup</h1>

        <form #sellerSignUp="ngForm" (ngSubmit)="signUp(sellerSignUp.value)" class="common-form">

            <input class="form-input" type="text" ngModel name="name" placeholder="enter name" />
            <input class="form-input" type="password" ngModel name="password" placeholder="enter password" />
            <input class="form-input" type="text" ngModel name="email" placeholder="enter email" />
            <button class="form-button">Signup</button>
            <a class="auth-toggle-link" (click)="openLogin()">Already Have account? click to Login</a>
        </form>
    </div>


    <!-- Login Area -->

    <div *ngIf="showLogin" class="login">
        <h1>Seller Login</h1>
        <p class="error-p">{{authError}}</p>

        <form #sellerLogin="ngForm" (ngSubmit)="login(sellerLogin.value)" class="common-form">

            <input class="form-input" type="text" ngModel name="email" placeholder="enter email" />
            <input class="form-input" type="password" ngModel name="password" placeholder="enter password" />

            <button class="form-button">Login</button>
            <a class="auth-toggle-link" (click)="openSignUp()">Don't Have account? click to sign-Up</a>
        </form>
    </div>

</div>